{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% else %}CPICA - FMS{% endif %}</title>
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mdb.min.css">
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-3 bg-primary">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">FEEDBACK MANAGEMENT - CPICA</span>
        </div>
        {% if request.session.session.id %}

        <div class="">
            <a data-toggle="modal" data-target="#exampleModalScrollable" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ request.session.session.fullName }}</a>
            <a href="/logout/" class="bg-red-900 btn-sm text-white focus:outline-none focus:shadow-outline btn-danger" type="submit">
                Logout
            </a>
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Profile Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/userprofile/" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label class="block text-blue-900 text-sm font-bold mb-2" for="enrollno">
                                        Enrollment No
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-blue-900 leading-tight focus:outline-none focus:shadow-outline" id="enrollno" type="text" name="enrollno" placeholder="Enrollment No" disabled value="{{ request.session.session.enrollNo }}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-blue-900 text-sm font-bold mb-2" for="enrollno">
                                        Name
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-blue-900 leading-tight focus:outline-none focus:shadow-outline" id="enrollno" type="text" name="name" placeholder="Name" disabled value="{{ request.session.session.fullName }}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-blue-900 text-sm font-bold mb-2" for="enrollno">
                                        Email
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-blue-900 leading-tight focus:outline-none focus:shadow-outline" id="enrollno" type="text" name="email" placeholder="Email" value="{{ request.session.session.emailID }}">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-blue-900 text-sm font-bold mb-2" for="enrollno">
                                        Contact
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-blue-900 leading-tight focus:outline-none focus:shadow-outline" id="enrollno" type="text" name="contact" value="{{ request.session.session.contact }}" placeholder="Contact">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-blue-900 text-sm font-bold mb-2" for="enrollno">
                                        Course
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-blue-900 leading-tight focus:outline-none focus:shadow-outline" id="enrollno" type="text" name="course" disabled value="{{ request.session.session.course }}{% if request.session.session.semester != '' %}-{{ request.session.session.semester }}{% endif %}"
                                        placeholder="Course">
                                </div>
                                <div class="mb-4">
                                    <label class="block text-blue-900 text-sm font-bold mb-2" for="enrollno">
                                        Password
                                    </label>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-blue-900 leading-tight focus:outline-none focus:shadow-outline" id="enrollno" type="password" name="password" value="{{ request.session.session.password }}" placeholder="Password">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% if request.session.session.id %}
            <div class="col-md-2 p-0">
                {% if request.session.session.role == 'a' %}
                <div class="cpi sidebar shadow-lg">
                    <a href="/"><i class="fa fa-school"></i>Dashboard</a>
                    <a href="/subject/"><i class="fa fa-book"></i>Subjects</a>
                    <a href="/course/"><i class="fa fa-book-open"></i>Courses</a>
                    <a href="/viewuser/"><i class="fa fa-user"></i>Users</a>
                    <a href="/faculty_subject/"><i class="fa fa-chalkboard-teacher"></i>Faculty Subject</a>
                    <a href="/course_subject/"><i class="fa fa-book-reader"></i>Course Subject</a>
                    <a href="/feedback_qus/"><i class="fa fa-comments"></i>Feedback Qus</a>
                </div>
                {% elif request.session.session.role == 'f' %}
                <div class="cpi sidebar shadow-lg">
                    <a href="/"><i class="fa fa-school"></i>Dashboard</a>
                    <!--  Faculty Only Add User for his/her courses -->
                    <a href="/adduser/"><i class="fa fa-user"></i>Add User</a>
                </div>
                {% else %}
                <div class="cpi sidebar shadow-lg">
                    <a href="/"><i class="fa fa-school"></i>Dashboard</a>
                    <a href="/give_feedback/"><i class="fa fa-user"></i>Give Feedback</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="{% if request.session.session.id %}col-md-10{% else %}col-md-12{% endif %}">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/static/js/mdb.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

</html>